LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=your_api_key
LANGSMITH_PROJECT="crypto-agent"

OPENAI_API_KEY=your_api_key
SERPER_API_KEY=your_api_key
TAAPI_API_KEY=your_api_key
